*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Merriweather', serif;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 0.8em;
  word-spacing: 4px;
}

/* Scroll snap laten werken */
.body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100vh;

  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  scroll-snap-align: center center;
  position: relative;
  overflow: hidden;
}

.hor-slider {
  display: flex;
  overflow-x: auto;
  height: 100vh;
  scroll-snap-type: x mandatory;
}

.map {
  cursor: pointer;
  position: absolute;
  right: -12.7em;
  top: 2em;
  transition: 0.5s;
}

.mapZ {
  z-index: 1;
}

.mapClicked {
  cursor: pointer;
  right: -0.5em;
  transition: 0.5s;
}

button {
  border: none;
  display: flex;
}

.button {
  cursor: pointer;
  position: absolute;
  text-align: center;

  width: 2em;
}

.buttonUp {
  top: 2em;

  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

.buttonDown {
  bottom: 0em;

  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

.buttonRight {
  right: 0em;

  top: 50%;
  transform: translate(-50%, -50%);
}

.buttonLeft {
  left: 2em;

  top: 50%;
  transform: translate(-50%, -50%);
}

.buttonBack {
  right: 2em;
  top: 2em;
}

/* Styling van de losse pagina's */
/* ********************************************* */

/* Intro pagina */
.pageIntro {
  background-image: url(/images/pageIntro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.pageIntro .buttonDown {
  color: white;
  position: absolute;
  text-align: center;
  bottom: 2em;
}

.pageIntro .buttonRight {
  position: absolute;
  text-align: center;
  right: -7em;
}

.buttonIntro {
  display: flex;
  align-items: center;
}

.buttonIntro p {
  padding: 0em;
}

.buttonIntro img {
  position: relative;
}

.pageIntro section {
  max-width: 45em;
  margin: 8em 0em 0em 8em
}

.pageIntro section p {
  padding: 1em 0em 1em;
}

/* Pagina 1 horizontaal algemeen */
.page1hor {
  background-image: url(/images/page1hor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.page1hor section {
  text-align: center;
  display: block;
  margin: auto;
}

.page1hor section p {
  max-width: 40em;
  display: block;
  margin: auto;
}

.page1hor section div {
  display: flex;
  justify-content: space-around;
  gap: 15em;
  margin: 6em 0em;
}

.page1hor section div p {
  max-width: 30em;
}

.page1hor section div p:first-of-type {
  text-align: left;
}

.page1hor section div p:last-of-type {
  text-align: right;
}

/* Pagina 2 horizontaal algemeen */
.page2hor {
  background-image: url(/images/page2hor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.page2hor section {
  position: absolute;
  right: 0em;
  max-width: 37em;
  margin: 3em 4em 0em 0em;
}

.page2hor section p {
  padding: 1em 0em;
}

/* Pagina 3 horizontaal algemeen */
.page3hor {
  background-image: url(/images/page3hor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.page3hor section {
  margin: 6em 0em 0em 8em
}

.page3hor section h2 {
  margin: 1em 0em 0em;
  font-size: 1.3em;
}

.page3hor section p {
  max-width: 40em;
  padding: 1em 0em 1em;
}

/* Pagina 1 verticaal diepte */
.page1ver {
  background-image: url(/images/page1ver.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  color: white;
}

.page1ver section {
  max-width: 40em;
  margin: 6em 0em 0em 8em
}

.page1ver section p {
  padding: 1em 0em 1em;
}

/* Pagina 2 verticaal diepte */
.page2ver {
  background-image: url(/images/page2ver.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  color: white;
  position: relative;
}

.page2verAC {
  background-image: url(/images/page2verAC.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  color: white;
  position: relative;
}

.page2verTT {
  background-image: url(/images/page2verTT.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  color: white;
  position: relative;
}

.page2verMI {
  background-image: url(/images/page2verMI.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  color: white;
  position: relative;
}

.page2verTN {
  background-image: url(/images/page2verTN.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  color: white;
  position: relative;
}



.page2ver section {
  position: absolute;
  max-width: 40em;
  right: 0em;
  margin: 7em 5em 0em 0em;
}

.page2ver section div {
  margin: 5em;
  text-align: center;
}

.page2ver section div button {
  width: 20em;
  cursor: pointer;
  display: block;
  color: black;
  background-color: #B3EEE6;
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 0.8em;
}

.page2ver section div button:nth-of-type(2) {
  background-color: #D88086;
}

.page2ver section div button:nth-of-type(3) {
  background-color: #D9BC2C;
}

.page2ver section div button:nth-of-type(4) {
  background-color: #9991BB;
}

/* Pagina 3 verticaal diepte */
.page3ver {
  background-image: url(/images/page3ver.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  color: white;
}

.page3ver section p {
  max-width: 45em;
  margin: 6em 0em 4em 8em;
}

.page3ver section img {
  width: 50em;
  display: block;
  margin: auto;
}

/* Pagina 4 verticaal diepte */
.page4ver {
  background-color: #93C9DB;
  position: relative;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#slide {
  position: absolute;
  left: -100%;
  height: 100%;
  transition: 1s ease-out 5s;
}

.wrapper:hover #slide {
  transition: 1s;
  left: 0;
}

.page4ver section {
  position: absolute;
  right: 0em;
  max-width: 37em;
  margin: 3em 4em 0em 0em;
}

.page4ver section p {
  padding: 1em 0em;
}

.page4ver #barchart {
  width: 33em;
  display: block;
  margin: auto;
  padding: 1em 0em;
}

/* Pagina 5 verticaal diepte */
.page5ver {
  background-color: #93C9DB;
  background-image: url(/images/page5ver.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.page5ver section {
  position: absolute;
}

/* Pagina 6 verticaal diepte */
.page6ver {
  background-color: #93C9DB;
  background-image: url(/images/page6ver.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  color: white;
}

.page6ver section {
  max-width: 45em;
  margin: 6em 0em 4em 8em;
}

.page6ver section h1 {
  padding: 1em 0em 1em;
}

.page6ver #boatGif {
  position: absolute;
  left: 21em;
  bottom: 13em;
  width: 11em;
}


/* Pagina 7 verticaal diepte */
.page7ver {
  background-image: url(/images/page7ver.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  color: white;
}

.page7ver section {
  max-width: 45em;
  margin: 6em 0em 4em 8em;
}

.page7ver section p {
  padding: 1em 0em;
}

.page7ver .measures {
  display: flex;
  align-items: center;
  margin: 2em 0em;
}

.page7ver .measures h2 {
  font-family: 'Merriweather', serif;
  font-size: 6em;
  font-weight: 100;
}

.page7ver .measures div {
  padding-inline-start: 1em;
}

/* Pagina 8 verticaal diepte */
.page8ver {
  background-image: url(/images/page8ver.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  color: white;
}

.page8ver section {
  max-width: 40em;
  margin: 8em 0em 4em 8em
}

.page8ver section p {
  padding: 1em 0em;
}


/* advies Mozambique A*/
.pageAhor {
  background-image: url(/images/pageAhor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.pageAhor section {
  max-width: 45em;
  margin: 6em 0em 0em 20em;
}

.pageAhor section p {
  padding: 1em 0em 1em;
}

/* advies Mozambique B */
.pageBhor {
  background-image: url(/images/pageBhor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.pageBhor section {
  display: flex;
  justify-content: space-around;
  margin: 3em 0em 0em 0em;
}

.pageBhor section p {
  padding: 1em 0em;
}

.advices {
  display: flex;
  align-items: flex-start;
  margin: 2em 0em;
}

.advices h2 {
  font-family: 'Merriweather', serif;
  font-size: 6em;
  font-weight: 100;
  margin: -0.3em 0em;
}

.advices div {
  padding-inline-start: 1em;
  max-width: 33em;
}

/* advies Mozambique C */
.pageChor {
  background-image: url(/images/pageChor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.pageChor section {
  display: flex;
  justify-content: space-around;
  margin: 3em 0em 0em 0em;
}

.pageChor section p {
  padding: 1em 0em;
}

/* advies Mozambique D */
.pageEinde {
  background-image: url(/images/pageDhor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

/* scrollbar weg */
.body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.hor-slider::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

/* algemene styling pages */
section {
  padding: 2em;
}